body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.postimg.cc/X797m23Y/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: contain;
    display: flex;
    justify-content: center;

    zoom: 0.7;
    min-height: 100vh;
    margin: 0;
}
.card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 14rem;
    background-color: var(--bg-card);
    border-radius: 1rem;
    top: 300px;
    left: 700px;
    align-items: center;

}
.image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
}
.image_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.title {
    overflow: hidden;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.size {
    font-size: 0.75rem;
    color: var(--light);
}
.list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.25rem;
}
.list-size .item-list {
    list-style: none;
}
.list-size .item-list-button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--zinc-800);
    font-size: 0.75rem;
    color: var(--light);
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}
.list-size .item-list-button:hover {
    border: 2px solid var(--light);
}
.list-size .item-list-button:focus {
    background-color: var(--primary);
    border: 2px solid var(--primary-shadow);
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}
.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}
.cart-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    white-space: nowrap;
    border: 2px solid hsla(0, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
}
.cart-button .cart-icon {
    width: 1rem;
}

input[type=submit]  {
    --bg: #ff8e8e;
    --hover-bg: #ff6e6e;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: .4px;
    padding: .8em 2em;
    background: var(--bg);
    transition: .2s;
    height: 50px;
  }
  
  input[type=submit]:hover {
    color: var(--hover-text);
    transform: translate(0, .25rem);
    background: var(--hover-bg);
    box-shadow: .25rem .25rem var(--bg);
  }
  
  input[type=submit]:active {
    transform: translate(0);
    box-shadow: none;
  }
  input {
    font-size: 18px;
    height: 20px;
    width: 10em;
  }

  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    left: 50%;
}
.comprar, .eliminar {
    top: 70%;
}