<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/static/carrito.css">
    <link rel="icon" href="https://i.postimg.cc/Y0hLQQmm/Logo.png">
    <link rel="icon" href="/static/imagenes/Logo.png">
</head>
<body>
    <h1>Carrito</h1>
    {% include 'barra_lateral.html' %}
    <div class="carrusel">
        {% for producto in productos %}
        <div class="card">
            <div class="image_container">
                <img src="{{ producto['url_producto'] }}" alt="Imagen del producto">
            </div>
            <div class="title">
                <span>{{ producto['Nombre_Producto'] }}</span>
            </div>
            <div class="size">
                <span>Cantidad: {{ producto['Cantidad_Producto'] }}</span>
            </div>
            <div class="action">
                <div class="price">
                    <span>${{ producto['Precio_Producto'] }}</span>
                </div>
                <form action="/eliminar_del_carrito/{{ producto['_id'] }}" method="post">
                    <button type="submit" class="eliminar">Eliminar</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="/pagar" method="post">
        <button type="submit" class="pagar">Pagar</button>
    </form>
    <div class="subtotal">
        <span>Subtotal: ${{ productos|sum(attribute='Precio_Producto') }}</span>
    </div>
</body>
</html>
