<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Mercancía</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/imagenes/Logo.png">
</head>
<body>
    <h1>Gestionar Mercancía</h1>
    {% include 'barra_lateral.html' %}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <div class="wrapper">
                <span class="slider"></span>
                <div class="flip-card__inner">
                    <div class="flip-card__Agregar">
                        <form action="/agregar_mercancia_post" method="post">
                            <h1>Agregar mercancia</h1>
                            <label for="nombre_producto">Nombre del Producto</label>
                            <input type="text" id="nombre_producto" name="nombre_producto" required><br>
            
            
                            <label for="descripcion_producto">Descripción del Producto</label>
                            <input type="text" id="descripcion_producto" name="descripcion_producto" required><br>
            
                            <label for="precio_producto">Precio del Producto</label>
                            <input type="number" id="precio_producto" name="precio_producto" required min="0"><br>
            
                            <label for="tipo_producto">Tipo del Producto</label>
                            <input type="text" id="tipo_producto" name="tipo_producto" required><br>
            
                            <label for="talla_producto">Talla del Producto</label>
                            <input type="text" id="talla_producto" name="talla_producto" required><br>
            
                            <label for="color_producto">Color del Producto</label>
                            <input type="text" id="color_producto" name="color_producto" required><br>
            
                            <label for="cantidad_producto">Cantidad del Producto</label>
                            <input type="number" id="cantidad_producto" name="cantidad_producto" required min="0"><br>
            
                            <label for="url_producto">Link imagen producto</label>
                            <input type="text" id="url_producto" name="url_producto" required><br>
                            
                            <input type="submit" value="Agregar">
                        </form>
                    </div>
                    <div class="flip-card_eliminar">
                        <form action="/eliminar_mercancia_post" method="post">
                            <h1>Eliminar mercancia</h1>
                            <label for="codigo_producto">Código del Producto</label>
                            <input type="text" id="codigo_producto" name="codigo_producto" required><br>
            
                            <input type="submit" value="Eliminar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>